
<body class="one-page">

<!--
* To change the hover link color and active selector border color,
you can combine the header div with header-*(material-colors).
For ex: <div class="header header-red"> or <div class="header header-teal">
-->
<div class="header">
  <div class="container">

    <div class="logo">
      <img src="http://simeonkakpovi.com/myimages/materialize-logo.png" alt="SlimSpace logo">
    </div><!--.logo-->

    <!--
    * data-nav-link attribute is necessary for data-anchor links.
    * data-anchor="slide1" attribute is useful when user clicks the data-nav-link, the window moves the related slide.
    -->
    <div class="animated-selector">
      <ul class="navigation">
        <li data-anchor="slide1" data-nav-link>FEATURES</li>
        <li data-anchor="slide2" data-nav-link>PLANS</li>
        <li data-anchor="slide3" data-nav-link>OVERVIEW</li>
        <li data-anchor="slide4" data-nav-link>ABOUT US</li>
        <li data-anchor="slide5" data-nav-link>CONTACT</li>
      </ul>
      <div class="selector"></div>
    </div><!--.animated-selector-->

    <div class="btn-action">
      <a href="/spaces" class="btn btn-indigo">GET STARTED</a>
    </div><!--.btn-action-->

    <div class="hamburger-btn"></div><!--.hamburger-btn-->

  </div><!--.container-->
</div><!--.header-->

<!--
* Each slide divs can be combined with these classes

** Material colors: such as bg-pink, bg-indigo, bg-teal etc.
** bg-image: you just need to write inline css style in order to path to image.
** bg-image-with-shadow: same for bg-image class but in this time background-gradient floats the image.
** bg-pattern: same for the bg-image but in this time the pattern will be repeated for background.

* data-nav="remove" attribute hides the active navigation border when this slide in viewport.
-->
<div class="slide bg-image" data-nav="remove" style="background-image: url('https://s3.amazonaws.com/StartupStockPhotos/uploads/24.jpg');">

  <div class="container">
    <div class="row">
      <div class=" text-center"><br><br><br>
        <h1 class="text-indigo text-light-shadow">MANAGING YOUR SPACES<br> SHOULD BE <span data-typer-targets="EASY, FAST, SIMPLE, FUN">EFFORTLESS</span><br></h1>
        <p class="caption text-light-shadow">SlimSpace gives you your very own online space reservation system, free of charge,<br> allowing you to quickly and easily assign spaces to the people you work with.</p>
          <a href="javascript:;" class="btn btn-indigo btn-lg ">Get Started</a>
          <br><br><br>
      </div><!--.col-->
    </div><!--.row-->


  </div><!--.container-->
  <a class="btn btn-large btn-floating btn-indigo btn-next btn-next-center" data-anchor="slide1" data-nav-link><i class="ion-chevron-down"></i></a>

</div><!--.slide-hero-->

<!--
* data-nav="slide1" attribute is an identifier for data-nav-links.
-->
<div class="slide" data-nav="slide1">

  <div class="container">

    <div class="slide-image-horizontal hide-on-mobile" data-bottom-top="left:-200px" data-center="left:50px"><img src="http://simeonkakpovi.com/myimages/screenshot.png" alt=""></div><!--.slide-image-->

    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2 class="text-black">MANAGE SPACES</h2>
        <p class="caption">Collaboratively administrate empowered markets via plug-and-play networks.</p>
        <ul class="list-vertical">
          <li>
            <div class="list-icon text-indigo">
              <i class="ion-tshirt-outline"></i>
            </div><!--.list-icon-->
            <div class="list-info">
              <h4 class="text-indigo">List</h4>
              <span>Dynamically procrastinate B2C users after installed base benefits.</span>
            </div><!--.list-info-->
          </li>
          <li>
            <div class="list-icon text-green">
              <i class="ion-earth"></i>
            </div><!--.list-icon-->
            <div class="list-info">
              <h4 class="text-green">Approve</h4>
              <span>Dramatically visualize customer directed convergence without revolutionary ROI.</span>
            </div><!--.list-info-->
          </li>
          <li>
            <div class="list-icon text-red">
              <i class="ion-bag"></i>
            </div><!--.list-icon-->
            <div class="list-info">
              <h4 class="text-red">Email</h4>
              <span>Efficiently unleash cross-media information without cross-media value.</span>
            </div><!--.list-info-->
          </li>
        </ul>
      </div><!--.col-->
    </div><!--.row-->

    <a class="btn btn-large btn-floating btn-indigo btn-next btn-next-left" data-anchor="slide2" data-nav-link><i class="ion-chevron-down"></i></a>

  </div><!--.container-->

</div><!--.slide-->

<div class="slide bg-light-grey" data-nav="slide2">

  <div class="container">

    <div class="slide-image-vertical hide-on-mobile" data-bottom-top="top:-200px" data-center-bottom="top:100px"><img src="http://simeonkakpovi.com/myimages/screenshot.png" alt=""></div><!--.slide-image-->

    <div class="row">
      <div class="col-md-6">
        <h2 class="text-black">BOOK SPACES</h2>
        <p class="caption">Quickly maximize timely deliverables for real-time schemas.</p>
        <ul class="list-vertical">
          <li>
            <div class="list-icon text-deep-purple">
              <i class="ion-images"></i>
            </div><!--.list-icon-->
            <div class="list-info">
              <h4 class="text-deep-purple">Search</h4>
              <span>Completely synergize resource sucking relationships via premier niche markets.</span>
            </div><!--.list-info-->
          </li>
          <li>
            <div class="list-icon text-teal">
              <i class="ion-calendar"></i>
            </div><!--.list-icon-->
            <div class="list-info">
              <h4 class="text-teal">Analyse</h4>
              <span>Dramatically maintain clicks-and-mortar solutions without functional solutions.</span>
            </div><!--.list-info-->
          </li>
          <li>
            <div class="list-icon text-amber">
              <i class="ion-happy-outline"></i>
            </div><!--.list-icon-->
            <div class="list-info">
              <h4 class="text-amber">Book</h4>
              <span>Professionally cultivate one-to-one customer service with robust ideas. </span>
            </div><!--.list-info-->
          </li>
        </ul>
      </div><!--.col-->
    </div><!--.row-->

    <a class="btn btn-large btn-floating btn-amber btn-next btn-next-right" data-anchor="slide3" data-nav-link><i class="ion-chevron-down"></i></a>

  </div><!--.container-->
</div><!--.slide-->

<div class="slide bg-image-with-shadow" style="background-image: url('https://s3.amazonaws.com/StartupStockPhotos/uploads/10.jpg'); " data-nav="slide3">
  <div class="container">
    <h3 class="text-black text-center">Features</h3>
    <p class="caption text-black text-center">The SlimSpace team has been busy! Check out where we've been featured.</p>

    <ul class="row list-horizontal white">
      <li class="col-sm-4" data-bottom-top="top:-50px" data-center="top:0px">
        <div class="list-icon">
          <a href="http://angelhack.com/about/" target="_blank"><img src="http://simeonkakpovi.com/slimspace-images/angel.png" class="img-responsive"></a>
        </div><!--.list-icon-->
        <div class="list-info">
          <span>AngelHack is the world’s largest and most diverse global hacker community, helping to drive open innovation of tech products, platforms and brands with extraordinary smarts, scale and speed.</span>
        </div><!--.list-info-->
      </li>
      <li class="col-sm-4" data-bottom-top="top:-50px" data-center="top:0px">
        <div class="list-icon">
            <a href="http://angelhack.com/2015/11/09/global-demo-day-15-what-you-missed/" target="_blank"><img src="http://simeonkakpovi.com/slimspace-images/hack2.png" class="img-responsive"></a>
        </div><!--.list-icon-->
        <div class="list-info">
          <span>The HACKcelerator is a 12-week pre-accelerator program designed to help top teams explore and refine their ideas to build their hackathon winning prototype into a fully fledged startup.</span>
        </div><!--.list-info-->
      </li>
      <li class="col-sm-4" data-bottom-top="top:-50px" data-center="top:0px">
        <div class="list-icon">
          <a href="http://www.capitaloneinvestingforgood.com/small-business/smallbizdev-hackathons/" target="_blank"><img src="http://simeonkakpovi.com/slimspace-images/capital6.png" class="img-responsive"></a>
        </div><!--.list-icon-->
        <div class="list-info">
          <span>SlimSpace was the winner of Capital One's Small Business Development Hackathon held in Washington D.C. during the summer of 2015.  </span>
        </div><!--.list-info-->
      </li>
    </ul>

    <a class="btn btn-large btn-floating btn-indigo btn-next btn-next-center" data-anchor="slide4" data-nav-link><i class="ion-chevron-down"></i></a>

  </div><!--.container-->
</div><!--.slide-->

<div class="slide bg-pattern" style="background-color: #d6e2eb; background-image: url('#');" data-nav="slide4">
  <div class="container">
    <h3 class="text-black text-center">ABOUT US</h3>
    <p class="caption text-center">Our company composed of four Howard University Alumni and is based in Washington D.C. </p>

    <div class="row transform-bug">
      <div class="col-md-3 col-sm-4 col-xs-12" data-bottom-top="bottom:-100px" data-center="bottom:0px">
        <div class="card card-user-new">
          <img src="http://simeonkakpovi.com/home/wp-content/uploads/2016/03/zh.jpg" class="member-image" alt="Zuri Hunter">
          <div class="card-body">
            <h5>Zuri Hunter</h5>
            <h6>Founder/Developer</h6>
            <ul class="social-links list-inline">
              <li><a href="#"><i class="fa fa-github"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div><!--.card-body-->
        </div><!--.card-->
      </div><!--.col-md-3-->

      <div class="col-md-3 col-sm-4 col-xs-12" data-bottom-top="bottom:-200px" data-center="bottom:0px">
        <div class="card card-user-new">
          <img src="http://simeonkakpovi.com/home/wp-content/uploads/2016/03/Untitled.jpg" class="member-image" alt="Simeon Kakpovi">
          <div class="card-body">
            <h5>Simeon Kakpovi</h5>
            <h6>Founder/Developer</h6>
            <ul class="social-links list-inline">
              <li><a href="#"><i class="fa fa-github"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div><!--.card-body-->
        </div><!--.card-->
      </div><!--.col-md-3-->

      <div class="col-md-3 col-sm-4 col-xs-12" data-bottom-top="bottom:-200px" data-center="bottom:0px">
        <div class="card card-user-new">
          <img src="http://simeonkakpovi.com/slimspace-images/alton2.jpg" class="member-image" alt="Alton Henley">
          <div class="card-body">
            <h5>Alton Henley</h5>
            <h6>Founder/Developer</h6>
            <ul class="social-links list-inline">
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div><!--.card-body-->
        </div><!--.card-->
      </div><!--.col-md-3-->

      <div class="col-md-3 col-sm-4 col-xs-12" data-bottom-top="bottom:-100px" data-center="bottom:0px">
        <div class="card card-user-new">
          <img src="http://simeonkakpovi.com/slimspace-images/lisa.png" class="member-image" alt="Lisa Franklin">
          <div class="card-body">
            <h5>Lisa Franklin</h5>
            <h6>Chief Marketing Officer</h6>
            <ul class="social-links list-inline">
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div><!--.card-body-->
        </div><!--.card-->
      </div><!--.col-md-3-->

    </div><!--.row-->

  </div><!--.container-->

</div><!--.slide-->

<div class="slide" data-nav="slide5">

  <div class="container">
    <h3 class="text-black text-center">CONTACT</h3>
    <p class="caption text-center">We will be glad if you write us.</p>

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <div class="inputer inputer-teal floating-label">
            <div class="input-wrapper">
              <input type="text" name="" class="form-control">
              <label>First name</label>
            </div><!--.input-wrapper-->
          </div><!--.inputer-->
        </div><!--.form-group-->
      </div><!--.col-->
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <div class="inputer inputer-teal floating-label">
            <div class="input-wrapper">
              <input type="text" name="" class="form-control">
              <label>Last name</label>
            </div><!--.input-wrapper-->
          </div><!--.inputer-->
        </div><!--.form-group-->
      </div><!--.col-->
    </div><!--.row-->

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="inputer inputer-teal floating-label">
            <div class="input-wrapper">
              <textarea class="form-control js-auto-size" rows="1"></textarea>
              <label>Your message</label>
            </div>
          </div>
        </div><!--.form-group-->
      </div><!--.col-->
    </div><!--.row-->

    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-indigo pull-right">SEND</button>
      </div><!--.col-->
    </div><!--.row-->

  </div><!--.container-->

</div><!--.slide-->

<div class="footer bg-indigo">
  <div class="container">

    <ul class="social-list">
      <li><a href="javascript:;" class="facebook"><i class="ion-social-facebook"></i></a></li>
      <li><a href="javascript:;" class="twitter"><i class="ion-social-twitter"></i></a></li>
      <li><a href="javascript:;" class="pinterest"><i class="ion-social-github"></i></a></li>
    </ul>

    <div class="copyright v-text">&copy; 2016 SLIMSPACE </div>

  </div><!--.container-->
</div><!--.footer-->


