<%
  @title1= "Browse Spaces"
%>

<% @spaces.each_slice(3) do |space_group| %>
    <div class="row ">
      <% space_group.each do |space| %>
          <div class="col-md-4">
            <div class="card card-user card-clickable card-clickable-over-content">
              <div class="card-heading heading-full">
                <%= link_to cl_image_tag(space.image_url(:thumbnail), width:"100%"), space %>
              </div><!--.card-heading-->

              <div class="card-body">
                <h3 class="card-title"><a href="#"><%= space.name %></a></h3>
                <% if space.number_of_seats != nil %>
                  <div class="subhead"><%= space.number_of_seats %> Seats in this space</div>
                <% end %>
              </div><!--.card-body-->

              <div class="card-footer">
                <%= link_to "View this Space", space, class:"btn btn-xs btn-indigo btn-block" %>
              </div><!--.card-footer-->

            </div><!--.card-->
          </div><!--.col-md-4-->
      <% end %>
    </div>
<% end %>



