<div class="error-bg error-bg1"></div><!--.error-bg1-->

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-lg-6 col-lg-offset-3">
      <div class="error-number">500</div>
      <div class="error-text">
        <p>There was a server error. Wait a random amount of time from 2 seconds to 2 quintillion seconds and try again. </p>
        <p>Or you can go back to <a href="/">our homepage</a>.</p>
      </div>
    </div>
  </div><!--.row-->
</div><!--.container-->