<div class="error-bg error-bg1"></div><!--.error-bg1-->

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-lg-6 col-lg-offset-3">
      <div class="error-number">404</div>
      <div class="error-text">
        <p>You tried to access <%= @page %>, which have been deleted or never have existed. </p>
        <p>You can go back to <a href="/">our homepage</a>.</p>
      </div>
    </div>
  </div><!--.row-->
</div><!--.container-->