<style type="text/css">
  #message{
    position:relative;
    left:25%;
    width: 50%;
    border: solid 5px #FF6600;
    text-align:center;
    border-radius:15px;
  }
   h1, h3, p {
    color: blue;
    font-family: "Comic Sans", Cursive, Georgia, Sans-serif;
  }
</style>

<div class= "container" id="message">
<h1>You have received a new Request</h1>

<p>Please follow the provided link to review a new request for one of your spaces</p><br/>
  
<a href="www.slimspace.io">Go To <b><i>SlimSpace.io</i></b></a>
  <p>Thank you for your timely response</p>


  <address><a href="mailto:reservations@slimspace.io">reservations@slimspace.io</a></address><br/>

<h3>We do look forward to being your first stop when listing and looking for your perfect workspace, and please come back soon</h3>
  <p>BizHack DC | Copyright Slimspace 2015</p>
</div>
