<style type="text/css">
  #message{
    position:relative;
    left:25%;
    width: 50%;
    border: solid 5px #FF6600;
    text-align:center;
    border-radius:15px;
  }
   h1, h3, p {
    color: blue;
    font-family: "Comic Sans", Cursive, Georgia, Sans-serif;
  }
  button{
    background-color:green;
    border-radius:5px;
  }
</style>

<div class= "container" id="message">
<h1>Welcome to SlimSpace</h1>
  <p>We are excited to support your needs to list and/or find the perfect workspace<br/></p>

  <p>This message is in response to your recent registry with SlimSpace.io, and you may view your profile by clicking the button below</p>
  <a href="www.slimspace.io">Go To <b><i>SlimSpace.io</i></b></a>

  <p>If you believe this registration to be made in error please contact us at</p><br/>
  <address><a href="mailto:registration@slimspace.io">registration@slimspace.io</a></address><br/>

<h3>Thank you and we look forward to being your first stop when listing and looking for your perfect workspace</h3>
  <p>BizHack DC | Copyright Slimspace 2015</p>
</div>
