*{
  font-family: Helvetica;
}

.wrapper {
  width:60%;
  border:1px solid gray;
  border-radius: 8px;
  margin: 20px auto;
  padding: 10px;
}

.bookings_table input[type="number"] { 
  width:30px; 
}

.bookings_table{
  font-size: 14px;
  color: gray;
}

.errors {
  color:#c00;
}

.calendar_container {
	margin: auto;
	width: 80%;
}



/*--------------------------------------------*/
.jumbotron{
  text-align: center;
background:#CCFFCC;
  background-repeat:no-repeat;
background-position:center center;
-o-background-size: 100% 100%, auto;
-moz-background-size: 100% 100%, auto;
-webkit-background-size: 100% 100%, auto;
background-size: 100% 100%, auto;
  
  

  
}

.slider h1{
  font-size: 60px;
  color: #000;
  font-weight: 700 !important;
  text-rendering: optimizelegibility;
  display: block;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  text-transform: uppercase !important;
}