<br>
<br>
<br>
<br>

<footer class="bg-color">
	<div class="container">
		<div class="upper-footer clearfix">
			<div class="widgets">
				<div class="col-md-6">
					<div class="about-widget"> 
						<p>SlimsSpace allows you to book and manage workspaces conveniently. Let us know how we can improve your experience.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="widget-heading mrgb4x ">
						<h4>GET IN TOUCH WITH US</h4>
					</div>
					<ul class="widget-area contact clearfix">					
						<li> <a href="#"><i class="fa fa-envelope"></i><span>slimspace@email.com</span></a></li>
					</ul>
					
				</div>
			</div>
		</div>
	</div>
	<div class="lower-footer">
		<p>Made with<span><i class="fa fa-heart-o"></i></span>at BizHack DC </a> | Copyright Slimspace 2015</p>
	</div>
</footer>