<div class="col-md-12">
  <div class="card  card-music-single   card-indigo    ">
    <div class="card-heading">
      <div class="song-container">
        <p class="artist">Slimspace</p>
      </div><!--.song-container-->
    </div><!--.card-heading-->
  </div><!--.card-->
</div><!--.col-->