<style>
  .sample-member720 {
  background-image: url('assets/Meeting-Room.jpg');
} 
</style>


<div class="col-md-8">
				<div class="card card-user card-clickable card-clickable-over-content">

					<div class="card-heading heading-full">
						<div class="user-image sample-member720"></div>



						<div class="layered-content bg-green">

						</div>

					</div><!--.card-heading-->
<br />
<br />
					<div class="card-body">
            <h1><a href="#"><b>Slimspace</b></a></h1>
						<div class="subhead">Meeting Space Enabled</div>

					</div><!--.card-body-->

					<div class="card-footer">
						<button class="btn btn-xs btn-flat pull-right">Learn More...</button>
					</div><!--.card-footer-->

				</div><!--.card-->
			</div><!--.col-md-4-->