<style>
  .sample-member719 {
  background-image: url('/assets/room.jpg');
} 
</style>
<div class="col-md-4">
				<div class="card card-user card-clickable card-clickable-over-content">

					<div class="card-heading heading-full">
						<div class="user-image sample-member719"></div>

						<div class="clickable-button">
							<div class="layer bg-green"></div>
							<a class="btn btn-floating btn-green initial-position floating-open"><i class="ion-android-share-alt"></i></a>
						</div>

						<div class="layered-content bg-green">
							<div class="overflow-content">
								<h4>Follow Aleksio</h4>
								<ul class="inline-list social-list borderless">
									<li><a class="btn btn-facebook btn-ripple"><i class="ion-social-facebook"></i></a></li>
									<li><a class="btn btn-twitter btn-ripple"><i class="ion-social-twitter"></i></a></li>
									<li><a class="btn btn-googleplus btn-ripple"><i class="ion-social-googleplus"></i></a></li>
								</ul>
							</div><!--.overflow-content-->
							<div class="clickable-close-button">
								<a class="btn btn-floating initial-position floating-close"><i class="ion-android-close"></i></a>
							</div>
						</div>

					</div><!--.card-heading-->

					<div class="card-body">
						<h3 class="card-title"><a href="#">Main Conference Room</a></h3>
						<div class="subhead">Room 300 in the <a href="#">Lesko Building</a></div>

					</div><!--.card-body-->

					<div class="card-footer">
						<button class="btn btn-xs btn-indigo pull-right" onclick="$(location).attr('href', '/pages/detail')">View this Space</button>
					</div><!--.card-footer-->

				</div><!--.card-->
			</div><!--.col-md-4-->