<section class="bg-dark parallex mrgb4x">
	<div class="container">
		<div class="inner-text">
    <h1>WELCOME TO SLIMSPACE</h1>      
			<h3>WORKSPACE RESERVATIONS MADE EASY</h3>
			<span> </span>
          <div class="buttons mrgb5x clearfix rounded-arrow animated out"> <a href="/spaces" class="blue">GET STARTED<i class="fa fa-arrow-right"></i></a> </div>
		</div>
  </div>
</section>


