

<div class="jumbotron">
  <div class="slider">
    <h1>Welcome to Slimspace</h1>
    <h3>Workspace Revervations made easy</h3>
       <div class="detail-btn mrgt4x mrgb3x"><a class="more-detail"  href="/spaces" role="button">Get Started</a></div>
  </div>
</div>