<div class="page-header full-content bg-indigo">
  <div class="row">
    <div class="col-sm-6">
      <h1>Slimspace <small>Room Reservation System</small></h1>
    </div><!--.col-->
    <div class="col-sm-6">
      <ol class="breadcrumb">
        <li><a href="#"><i class="ion-home"></i></a></li>
        <li><a href="#">UI Elements</a></li>
        <li><a href="#" class="active">Tabs</a></li>
      </ol>
    </div><!--.col-->
  </div><!--.row-->
</div><!--.page-header-->