<!DOCTYPE html>
<html>
<head>
  <title>SlimSpace</title>
  <link rel="stylesheet" media="screen" href="/assets/layout.css" data-turbolinks-track="true" />
  <link rel="stylesheet" media="screen" href="/assets/elements.css" data-turbolinks-track="true" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
  <link href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'>

  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <style>
    .http-error-outside{
      background-color: indigo;
      background: url('http://simeonkakpovi.com/slimspace-images/main-image.jpg')no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  </style>
</head>


<body class="http-error-outside">


  <%= yield %>


<!-- BEGIN INITIALIZATION-->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script>
  $(document).ready(function () {
    Pleasure.init();
    Layout.init();
    FormsPickers.init();
  });
</script>
<!-- END INITIALIZATION-->
</body>
</html>
