<!DOCTYPE html>
<html>
<head>
    
    <meta name="description" content="Your free online reservation system">
	<meta name="author" content="Alton Henley, Simeon Kakpovi">
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-touch-fullscreen" content="yes">
    
  <title>SlimSpace</title>
  <link rel="stylesheet" media="screen" href="/assets/layout.css" data-turbolinks-track="true" />
  <link rel="stylesheet" media="screen" href="/assets/elements.css" data-turbolinks-track="true" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
  <link href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'>
    <meta name="google-site-verification" content="mI79pphfzEFa_NPTH9ZuD9TTGu1Enkps59nqyzimuFs" />
</head>


<body>


  <%= yield %>


<!-- BEGIN INITIALIZATION-->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script>
  $(document).ready(function () {
    Pleasure.init();
    Layout.init();
    FormsPickers.init();
  });
</script>
<!-- END INITIALIZATION-->
</body>
</html>
